@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-sizing: border-box;
}

body {
  display: grid;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  flex-direction: column;
  line-height: 1.6;
}

.error {
  color: rgb(228, 46, 1)
}
