.infoCard {
    max-width: 28.5ch;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-size: cover;
    transition: transform 500ms ease;
    overflow: hidden;
    margin-bottom: 6% !important;
}

.infoContent {
    --padding: 1.5em;
    max-height: 20ch !important;
    padding: var(--padding);
    background: linear-gradient(
        hsl( 0 0% 0% / 0),
        hsl(0 0% 0% / 0.2),
        hsl(0 0% 0% / 0.1)
    );
    transform: translateY(65%);
    transition: transform 500ms ease;
}

.infoCard:hover .infoContent {
    transform: translateY(0);
    margin: 0;
}

.infoText {
    position: relative;
    font-size: 14px;
}

.infoCard:hover .infoText::after {
    transform: scaleX(1);
}

.infoBody {
    margin: 0;
    text-align: left;
}

.saveBtns:hover {
    background: black !important;
    color: white !important; 
}

.wishBtns:hover {
    background: black !important;
    color: white !important; 
}

@media only screen and (max-width: 500px) {
    .infoCard {
        max-width: 28.5ch;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-size: cover;
        transition: transform 500ms ease;
        overflow: hidden;
        margin-left: 24% !important;
    }

    .cardImg {
        background-position: center;
        align-items: center;
        justify-content: center;
    }  
}

@media only screen and (max-width: 560px) {
    .infoCard {
        max-width: 28.5ch;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-size: cover;
        transition: transform 500ms ease;
        overflow: hidden;
        margin-left: 20% !important;
    }

    .cardImg {
        background-position: center;
        align-items: center;
        justify-content: center;
    }  
}


@media only screen and (max-width: 860px) {
    .infoCard {
        max-width: 28.5ch;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-size: cover;
        transition: transform 500ms ease;
        overflow: hidden;
        margin-left: 24% !important;
    }

    .cardImg {
        background-position: center;
        align-items: center;
        justify-content: center;
    }  
  }
  
  @media only screen and (max-width: 1060px) {
    .infoCard {
        max-width: 28.5ch;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-size: cover;
        transition: transform 500ms ease;
        overflow: hidden;
        margin-left: 24% !important;
    }

    .cardImg {
        background-position: center;
        align-items: center;
        justify-content: center;
    }  
}
  