.infoCard {
    max-width: 28.5ch;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-size: cover;
    transition: transform 500ms ease;
    overflow: hidden;
}

.infoCard:hover {
    transform: scale(1.05);
}

.infoContent {
    --padding: 1.5em;
    padding: var(--padding);
    background: linear-gradient(
        hsl( 0 0% 0% / 0),
        hsl(0 0% 0% / 0.2),
        hsl(0 0% 0% / 0.1)
    );
    transform: translateY(65%);
    transition: transform 500ms ease;
}

.infoText::after {
    content: '';
    position: absolute;
    height: 4px;
    left: calc(var(--padding) * -1);
    bottom: -2px;
    width: calc(100% +var(--padding));
    transform: scaleX(0);
    transform: transform 500ms ease;
}

.infoCard:hover .infoContent {
    transform: translateY(0);
}

.infoText {
    position: relative;
    font-size: 15px;
}

.infoCard:hover .infoText::after {
    transform: scaleX(1);
}

.infoBody {
    margin: 0;
    text-align: left;
}